body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #00cec9, #0984e3);
  min-height: 100vh;
}

div {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #a29bfe;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0984e3;
}

.text {
  text-align: left;
  margin-left: 100px;
}

#num1,
#num2 {
  width: 400px;
}

#result {
  color: #a29bfe;
}

#btn {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: green;
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

#btn-clear {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: darksalmon;
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

#btn:hover,
#btn-clear:hover {
  box-shadow: 1px 1px 10px #a29bfe;

}